body {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.invite {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: black
}

.party {
    font-family: 'Lobster', cursive;
    color: black;
    font-size: 40px;
    font-weight: bold;
}

.party:hover {
    color: blueviolet;
    transition: all 0.9s ease-in-out;
}

.pia {
    font-family: 'Lobster', cursive;
    color: black;
    font-size: 40px;
    font-weight: bold;
}

.honor {
    font-family: 'Lobster', cursive;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: imgZoom 3.5 ease infinite;
    animation-direction: reverse;
    animation-fill-mode: none;
}

.img:hover {
    animation-play-state: paused;
}

@keyframes imgZoom {
    0% {transform: scale(1) rotate(0deg);}
    50% {transform: scale(1.1) rotate(15deg);}
    100% {transform: scale(1) rotate(0deg);}
}